<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (One)</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container py-5">
        <div class="row">
            <h1>TV Show {{ show.id }}</h1>
        </div>
        <div class="row my-5">
            <p>Title: {{ show.title }}</p>
            <p class="w-100">Network: {{ show.network }}</p>
            <p class="w-100">Release Date: {{ show.release_date }}</p>
            <p>Description: {{ show.desc }}</p>
        </div>
        <div class="row">
            <p class="d-block w-100 mb-1">Last Updated: {{ show.updated_at }}</p>
            <div class="links d-blocks">
                <a class="mr-1" href="/shows/{{ show.id }}/edit">Edit</a>|<a class="ml-1 text-danger"
                    href="{{ show.id }}/delete">Delete</a>
            </div>
        </div>
    </div>
</body>

</html>